main{
  padding:10px;
  max-width:600px;
    margin:auto;                        /* for cemter */

}
header{
  margin-top: 20px;
  display:flex;
  align-items: center;
 justify-content: space-between;
 margin-bottom:100px;
}
header a{
  text-decoration: none;
  color:inherit;               /*inherit takes default i.e, black color.*/
}
header a.logo{
  font-weight: 800;
  font-size:1.5rem;
}
header nav{
  display:flex;
  gap:5px;
  font-weight: 500;
}

div.entry{
  display:flex;
  gap:20px;
  margin-bottom: 40px;
  
}
img{
  max-width:100%;
}
div.entry div.image{
 width:300%;
}
div.entry div.text h2{
  margin:0;
  font-size: 1.6rem;
}
div.entry p.info{
  margin:6px 0;
  color:#888;
  font-size:0.7rem;
  font-weight: bold;
  display:flex;
  gap:10px;
}
div.entry p.info span#author{
   color:#333;
}
div.entry p.sumary{
  margin:10px 0;
  line-height: 1.5rem;
}
